tiny_stories_train/data-00000-of-00004.arrow
tiny_stories_train/data-00001-of-00004.arrow
tiny_stories_train/data-00002-of-00004.arrow
tiny_stories_train/data-00003-of-00004.arrow
tiny_stories_train/dataset_info.json
tiny_stories_train/state.json
tiny_stories_val/data-00000-of-00001.arrow
tiny_stories_val/dataset_info.json
tiny_stories_val/state.json
